/* Container Styling */
.Navbar {
    background-color: #79d280ab; 
    color: #ecf0f1;             /* Light text color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Button Styling */
.Navbar button {
    background-color: #325935; /* Blue button background */
    color: #ecf0f1;            /* Light text color */
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Navbar button:hover {
    background-color: #3498db; /* Lighter blue on hover */
}

.Navbar button:active {
    background-color: #1f618d; /* Darker blue on active click */
}

.NavbarImg{
    width: 50px;
    height: auto;
}